* {
	box-sizing: border-box;
}

body{
		margin: 100px;
	}
.box{
	width: 110px;
	height: 225px;
	background-color: #ED1A4C;
	display: inline-block;
	margin: 0 80px 80px 0;
	position: relative;
}

/*vertical*/
/*left*/
.a .v1,
.b .v1,
.c .v1,
.d .v1,
.e .v1,
.f .v1,
.g .v1,
.h .v1,
.k .v1,
.l .v1,
.m .v1,
.n .v1,
.o .v1
{
	position: absolute;
	left:0;
	height: 100%;
	width: 25px;
	background: black;
}
/*right*/
.a .v2,
.b .v2,
.d .v2,
.h .v2,
.j .v2,
.m .v2,
.n .v2,
.o .v2 {
	position: absolute;
	right:0;
	height: 100%;
	width: 25px;
	background: black;
}

/*middle*/
.i .v3{
	position: absolute;
	right:44px;
	height: 100%;
	width: 25px;
	background: black;
}

/*half-vertical-right*/
.g .v3{
	position: absolute;
	right:0;
	bottom: 0;
	height: 35%;
	width: 25px;
	background: black;
}

/*half-vertical-left*/
.j .v4{
	position: absolute;
	left:0;
	bottom: 0;
	height: 35%;
	width: 25px;
	background: black;
}

/*horizontal*/
/*top-left-out*/
.a .h1,
.b .h1,
.c .h1,
.d .h1,
.g .h1,
.i .h1,
.o .h1

{
	width: 127px;
	background: black;
	height:25px;
	right:0; 
	top:0;
	position: absolute;
}

/*top-right-out*/

.o .h7
{
	width: 127px;
	background: black;
	height:25px;
	left:0;
	bottom: 0; 
	position: absolute;
}

/*bottom-out*/
.b .h3,
.c .h3,
.d .h3{
	width: 127px;
	background: black;
	height:25px;
	right:0; 
	bottom: 0;
	position: absolute;
}

/*top-fill*/
.e .h4,
.f .h4,
.g .h4,
.j .h4,
.i .h4
{
	width:100%;
	background: black;
	height:25px;
	top:0; 
	position: absolute;
}
/*bottom-fill*/
.e .h5,
.g .h5,
.j .h5,
.l .h5,
.i .h5
{
	width:100%;
	background: black;
	height:25px;
	bottom:0; 
	position: absolute;
}

/*middle-out*/
.a .h2,
.h .h2{
	width: 127px;
	background: black;
	height:25px;
	right:0; 
	top: 50%;
	position: absolute;
}
/*middle-fill*/
.b .h2,
.e .h2,
.f .h2

{
	width:100%;
	background: black;
	height:25px;
	right:0; 
	top: 45%;
	position: absolute;
}
/*middle-short*/
.g .h6
{
	width:54px;
	background: black;
	height:25px;
	right:0; 
	top: 60%;
	position: absolute;
}

