* {
	box-sizing: border-box;
}

body{
		margin: 100px;
	}
.box{
	width: 130px;
	height: 250px;
	background-color: #ED1A4C;
	display: inline-block;
	margin: 0 30px 30px 0;
	position: relative;
}

.a .v1{
	position: absolute;
	left:0;
	height: 100%;
	width: 30px;
	background: black;
}

.a .v2{
	position: absolute;
	right:0;
	height: 100%;
	width: 30px;
	background: black;
}

.a .h1{
	width: 150px;
	background: black;
	height:30px;
	right:0; 
	position: absolute;
}
.a .h2{
	width: 150px;
	background: black;
	height:30px;
	right:0; 
	top: 50%;
	position: absolute;

}